// SETTINGS-TYPE
// Typography variables and settings.

@use "settings/settings-breakpoints";

:root {
  --font-size-ratio: 1.25;

  @media (min-width: settings-breakpoints.$small) {
    --font-size-ratio: 1.333;
  }

  @media (min-width: settings-breakpoints.$medium) {
    --font-size-ratio: 1.414;
  }

  --font-size-tiny: 1rem;
  --font-size-small: calc(var(--font-size-tiny) * var(--font-size-ratio));
  --font-size-medium: calc(var(--font-size-small) * var(--font-size-ratio));
  --font-size-large: calc(var(--font-size-medium) * var(--font-size-ratio));
  --font-size-huge: calc(var(--font-size-large) * var(--font-size-ratio));
  --font-size-gigantic: calc(var(--font-size-huge) * var(--font-size-ratio));

  --font-family-sans-serif: sans-serif;
  --font-family-serif: serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --line-height-tiny: 1.6;
  --line-height-small: 1.5;
  --line-height-medium: 1.4;
  --line-height-large: 1.3;
  --line-height-huge: 1.2;
  --line-height-gigantic: 1.1;
}
