// LAYOUT
// A grid-like layout system using flex.

.o-layout {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-medium);
}

// Sizes

$size-values: (
  "flush": 0,
  "small": var(--spacing-small),
  "medium": var(--spacing-medium),
  "large": var(--spacing-large),
);

@each $size, $value in $size-values {
  .o-layout--#{$size} {
    gap: $value;
  }
}

// Direction

$direction-values: row, row-reverse, column, column-reverse;

@each $value in $direction-values {
  .o-layout--direction-#{$value} {
    flex-direction: $value;
  }
}

// Align

$align-values: start, end, center, stretch, baseline;

@each $value in $align-values {
  .o-layout--align-#{$value} {
    align-items: $value;
  }
}

// Justify

$justify-values: start, end, center, space-between, space-around, space-evenly;

@each $value in $justify-values {
  .o-layout--justify-#{$value} {
    justify-content: $value;
  }
}
