// SPACING
// Spacing variables and settings.

:root {
  --spacing-tiny: 0.5rem;
  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 4rem;
  --spacing-huge: 8rem;
  --spacing-gigantic: 16rem;
}
